<span class="au-c-input-wrapper {{this.width}}" ...attributes>
    {{#if @label}}
      <label class={{this.labelClass}}>{{@label}}</label>
    {{/if}}
    {{! template-lint-disable require-input-label }}
    {{! template-lint-disable no-inline-styles }}
    <input
      disabled={{@disabled}}
      placeholder="DD-MM-JJJJ - DD-MM-JJJJ"
      autocomplete="off"
      style="width: 100%;"
      value={{this.rangeText}}
      class="au-c-input
        {{this.inputClasses}}
        {{this.error}}
        {{this.warning}}
        {{this.width}}
        {{this.disabled}}"
      {{did-insert this.didInsertDateInputPicker}}
    />

  <AuIcon @icon="calendar" @alignment="left" />
</span>
